<h5>New Game</h5>


<form [formGroup]="form" (ngSubmit)="addGame()">
    <div class="input-group mb-4 mt-4">
        <span class="input-group-text">Game type:</span>
        <input type="radio" class="btn-check" name="gameType" formControlName="gameType" id="p2" value="2p" autocomplete="off">
        <label class="btn btn-outline-primary ms-1" for="p2">2p</label>
    
        <input type="radio" class="btn-check" name="gameType" formControlName="gameType" id="p3" value="3p" autocomplete="off">
        <label class="btn btn-outline-primary ms-1" for="p3">3p</label>
    
        <input type="radio" class="btn-check" name="gameType" formControlName="gameType" id="p4" value="4p" autocomplete="off">
        <label class="btn btn-outline-primary ms-1" for="p4">4p</label>

        <span class="input-group-text ms-5">Date</span>
        <input type="date" class="form-control" formControlName="finishedOn" placeholder="eg. 12/09/2022" aria-label="Origin">
    
        <span class="input-group-text ms-5">Origin</span>
        <input type="text" class="form-control" formControlName="origin" placeholder="eg. World Champs 2022" id="origin" aria-label="Origin">
        <label for="origin"></label>
    </div>

    <ng-container formArrayName="players">
        <ng-container *ngFor="let playerForm of players.controls; let i = index">
            <div [formGroupName]="i">
                <div class="input-group mt-2">
                    <span class="input-group-text">Player #{{ i+1 }}</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="name" id="p{{i+1}}name" placeholder="Name" aria-label="Name">
                        <label for="p{{i+1}}name">Player name</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" formControlName="score" id="p{{i+1}}score" placeholder="Score" aria-label="Score">
                        <label for="p{{i+1}}score">Score</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" formControlName="seat" id="p{{i+1}}seat" placeholder="Seat" aria-label="Seat">
                        <label for="p{{i+1}}seat">Seat</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="leaders" id="p{{i+1}}leaders" placeholder="Leaders" aria-label="Leaders">
                        <label for="p{{i+1}}leaders">Leaders</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="wonders" id="p{{i+1}}wonders" placeholder="Wonders" aria-label="Wonders">
                        <label for="p{{i+1}}wonders">Wonders</label>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <div class="mb-3 mt-3 d-flex justify-content-end gap-2">
        <button class="btn btn-secondary mb-3" routerLink="/">Cancel</button>
        <button type="submit" class="btn btn-primary mb-3">Add</button>
    </div>
</form>