<!-- <button class="btn btn-primary">Add</button>
<button class="btn btn-add-file">Add from file</button> -->

<div class="container mb-3">
    <div class="row justify-content-between" >
        <div class="col col-sm-auto">
          Games in library: {{ stats.tot }} | {{ stats['2p'] }} | {{ stats['3p'] }} | {{ stats['4p'] }}
          <span class="ms-5">Updated: {{ stats.updated | date: 'MMM d, y, h:mm' }}</span>
        </div>
        <div class="col col-sm-auto gap-2 d-flex"><button class="btn btn-primary" routerLink="/game">Add</button> <button class="btn btn-secondary me-0">Add many</button></div>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Author</th>
        <th scope="col">Origin</th>
        <th scope="col">Player #1</th>
        <th scope="col"></th>
        <th scope="col">Player #2</th>
        <th scope="col"></th>
        <th scope="col">Player #3</th>
        <th scope="col"></th>
        <th scope="col">Player #4</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.finishedOn || game.created | date:'YYYY-MM-dd' }}</td>
        <td>{{ game.author }}</td>
        <td>{{ game.origin || '-' }}</td>
        <td [ngClass]="{'winner': game.players[0].winner }">
          {{ game.players[0].player }}
        </td>
        <td [ngClass]="{'winner': game.players[0]?.winner}">
          {{ game.players[0].finalScore }}
        </td>
        <td [ngClass]="{'winner': game.players[1]?.winner}">
          {{ game.players[1].player }}
        </td>
        <td [ngClass]="{'winner': game.players[1]?.winner}">
          {{ game.players[1].finalScore }}
        </td>
        <td [ngClass]="{'winner': game.players[2]?.winner}">
          {{ game.players[2]?.player || '-' }}
        </td>
        <td [ngClass]="{'winner': game.players[2]?.winner}">
          {{ game.players[2]?.finalScore || '' }}
        </td>
        <td [ngClass]="{'winner': game.players[3]?.winner}">
          {{ game.players[3]?.player || '-' }}
        </td>
        <td [ngClass]="{'winner': game.players[3]?.winner}">
          {{ game.players[3]?.finalScore || '' }}
        </td>
      </tr>

    </tbody>
  </table>